.orderList {
  .attribute-title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    margin-top: 16px;
    margin-bottom: 7px;
  }
  .attribute-item__text {
    width: 63px;
    height: 45px;
    margin-right: 8px;
    .item-text__box {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      padding-bottom: 2px;
    }
  }
  .attribute-item__swatch {
    width: 32px;
    height: 32px;
    left: 2px;
    margin-left: 3px;
    margin-right: 6px;
    margin-top: 3px;
  }
  .swatch__white {
    box-shadow: 0 0 4px 4px var(--c-shadow);
  }
}

.cart-overlay-list {
  .attribute-title {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    padding-top: 8px;
    text-transform: capitalize;
  }
  .attribute-item__swatch {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    margin-top: 2px;
    margin-left: 2px;
    cursor: auto;
  }
  .swatch__white {
    box-shadow: 0 0 3px 3px var(--c-shadow);
  }

  .attribute-item__text {
    margin-right: 8px;
    cursor: auto;
    width: 24px;
    height: 24px;

    .item-text__box {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 160%;
    }
    .item-text__box.wide-title {
      font-size: 12px;
    }
  }
  .attribute-item__text.wide-title {
    width: 34px;
  }
}

.product-page-container {
  .attribute-items {
    margin-bottom: 24px;
  }
  .attribute-title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 7px;
  }
  .attribute-item__text {
    width: 63px;
    height: 45px;
    margin-right: 12px;

    .item-text__box {
      font-family: 'Source Sans Pro';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: 0.05em;
    }
  }
  .attribute-item__swatch {
    width: 32px;
    height: 32px;
    margin-left: 2px;
    margin-right: 7px;
    margin-top: 3px;
  }
  .swatch__white {
    box-shadow: 0 0 4px 3px var(--c-shadow);
  }
}
