.attributes {
  text-align: left;
}
.attribute-items {
  display: inline-flex;
}
.attribute-item__text {
  box-sizing: border-box;
  border: 1px solid var(--c-text);
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.item-text__box {
  align-items: center;
  color: var(--c-text);
  background-color: var(--c-white);
}
.attribute-text__selected,
.attribute-text__selected > .item-text__box {
  background-color: var(--c-text);
  color: white;
}
.attribute-title {
  margin-bottom: 8px;
  text-transform: uppercase;
}
.attribute-swatch__selected {
  outline: thin solid var(--c-primary);
  outline-offset: 1px;
}
