.product-page-container {
  display: grid;
  grid-template-columns: 80px 614px 292px;
  column-gap: 39px;
  margin-top: 2px;
}

.product-page-container .h3-text-font {
  font-size: 30px;
  line-height: 27px;
  text-align: left;
}
.product-page-container .product-name {
  font-size: 30px;
  line-height: 27px;
  padding-top: 16px;
}
.product-page-container .attributes {
  margin-top: 44px;
}
.product-page-container .attribute-title__price {
  margin-top: 13px;
}
.product-page-container .product-price {
  margin-top: 23px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
  color: var(--c-text);
}
.product-page-container .button {
  width: 292px;
  height: 52px;
  margin-top: 34px;
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
}

.product-page__information {
  margin-left: 57px;
}
