.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}
.button-active {
  color: var(--c-white);
  background-color: var(--c-primary);
}
.button-link {
  box-sizing: border-box;
  border: 1px solid var(--c-text);
}
.button-disable {
  background-color: #8d8f9a;
  color: var(--c-white);
}
