.navigate-link-text {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 31px;
  padding-top: 14px;
  color: var(--c-text);
}
.active .navigate-link-text {
  color: var(--c-primary);
  font-weight: 600;
}
.navigate-link-underline {
  height: 2px;
}
.active .navigate-link-underline {
  background-color: var(--c-primary);
}
