.gallery-item {
  width: 78px;
  height: 79px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.product-gallery-container {
  margin-bottom: 39px;
  cursor: pointer;
  box-sizing: border-box;
}
