* {
  margin: 0;
  padding: 0;
}

:root {
  --c-primary: #5ece7b;
  --c-text: #1d1f22;
  --c-itemout: #8d8f9a;
  --c-hover: #eeeeee;
  --c-white: #fff;
  --c-shadow: rgba(168, 172, 176, 0.19);
  --bg-shadow: rgba(57, 55, 72, 0.22);
}
.font-raleway700 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  color: var(--c-text);
}
.font-raleway600 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  color: var(--c-text);
}
.font-raleway500 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  color: var(--c-text);
}
.font-raleway400 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  color: var(--c-text);
  text-align: left;
}
.font-raleway300 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  color: var(--c-text);
}
.font-roboto700 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
}
.font-roboto500 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
}
a {
  text-decoration: none;
}
