.product-description {
  margin-top: 37px;
  text-align: left;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 156.96%;
  color: var(--c-text);
  width: 292px;
  height: 400px;
}
.product-description p {
  padding-top: 10px;
  padding-bottom: 10px;
}
